# TP3: model_linear_regression

1) Load and return the boston dataset from sklearn.datasets

In [1]:
import pandas as pd

In [2]:
f = 'boston_house_prices.csv'
boston_df = pd.read_csv(f, skiprows=[0])
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [3]:
boston_df.shape

(506, 14)

In [4]:
boston_df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [5]:
null_values = boston_df.isnull().sum()
print(null_values)

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

2)Split the boston dataset into train data and test data

In [6]:
from sklearn.model_selection import train_test_split
X = boston_df.drop(columns=['MEDV']) 
y = boston_df['MEDV']  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

3)Standardize the data

In [7]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

X_train_standardized = scaler.fit_transform(X_train) #On doit just fiter les données de train pas de test 
                                                     #car on peut pas utiliser les données de test dans lentrainement
X_test_standardized = scaler.transform(X_test)

#Linear regression

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Initialize the Linear Regression model
linear_regressor = LinearRegression()

# Fit the model on the standardized training data
linear_regressor.fit(X_train_standardized, y_train)

# Make predictions on the standardized testing data
y_pred_linear = linear_regressor.predict(X_test_standardized)

# Evaluate the Linear Regression model
mse_linear = mean_squared_error(y_test, y_pred_linear)
r2_linear = r2_score(y_test, y_pred_linear)

In [12]:
print("Linear Regression Results:")
print("Mean Squared Error:", mse_linear)
print("R-squared (R2) Score:", r2_linear)

Linear Regression Results:
Mean Squared Error: 24.291119474973502
R-squared (R2) Score: 0.6687594935356322

In [14]:
import joblib


# 将模型保存到 .pkl 文件
joblib.dump(linear_regressor, 'linear_regressor_model.pkl')

['linear_regressor_model.pkl']